# Demo-only fixture. Replace this file through a read-only production mount.
# proxy-user:proxy-token
proxy-user:$6$proxypocuser$TLUkoY0HEB/gDieQ57EZlcI3rv2QB.nlbSLDBOd53UmuYWvM2sYbUa7yQtU2FjfiTpvdQtCBzzlKUYD7NJVvx/
# proxy-reader:reader-token
proxy-reader:$6$proxypocreader$wgFvAwvgl6aLSAzBp7BLb20ufJdQ9xwOTaqQWf3P0KMAjrD6hE1A5iTATXEDe.pb4/DdXlcIFUcM.FKtuTaAt.
